.usercard_container{
    display: flex;
    gap: 15px;
}

img {
    /* width: 100%; */
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}

.usercard{
    border: 1px solid;
    border-radius: 20px;
    width: 300px;
}

.usercard_name {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.icons{
    display: flex;
    gap: 20px;
    text-align: center;
    margin: 0 auto;
    padding: 50px;
}