.usercard_container {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.usercard_name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.usecard {
  width: calc(25% - 15px);
}

.usecard .usercard_img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.icons {
  display: flex;
  gap: 20px;
  text-align: center;
  margin: 0 auto;
  padding: 50px;
  justify-content: center;
}
